<div class="bg" style="background-color: #F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
          <div class="child">
            <div nz-row class="imgDiv">
              <div nz-col nzSpan="24"><h1 style="margin-left: 80px;">Registrieren</h1></div>
            </div>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="Keine valide E-mail!">
                <input nz-input placeholder="E-mail" formControlName="email" id="email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback  [nzErrorTip]="errorPass">
                <input nz-input placeholder="Passwort" type="password" id="password" formControlName="password" />
                <ng-template #errorPass let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Password Is Notwendig!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">
                    Password sollte beinhalten 8 Zeichen,1 CAPS, 1 kleinbuchstaben, 1 Nummer und 1 Sonderzeichen!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback  [nzErrorTip]="errorTpl">
                <input nz-input type="password" placeholder="Passwort bestätigen" formControlName="checkPassword" id="checkPassword" />
                <ng-template #errorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Passwort bestätigen!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">
                    Unterschideliche Passwörter!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzHasFeedback   [nzErrorTip]="userErrorTpl">
                <input nz-input placeholder="Name" id="username" formControlName="name" />
                <ng-template #userErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Bitte Username eingeben!
                  </ng-container>

                </ng-template>
              </nz-form-control>
            </nz-form-item>


            <!-- <nz-form-item nz-row class="register-area">
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary">Register</button>
              </nz-form-control>
            </nz-form-item> -->
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Registrieren</button>
              Oder <a routerLink="/login">Jetzt einloggen</a>
          </form>
        </div>
        </div>
          </nz-spin>
     </div>
