<div style="margin-top: 150px">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <h2 style="margin-left: 120px">Auto ändern</h2>
        </div>

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <div nz-row>
            <div class="file-upload-container">
              <label class="file-upload-label">
                <span style="margin-left: 100px">Select a File</span>
                <input
                  type="file"
                  nz-button
                  nzType="primary"
                  accept="image/x-png,image/gif,image/jpeg"
                  (change)="onFileSelected($event)"
                />
              </label>

              <div *ngIf="imagePreview" class="image-preview">
                <div class="circle-image">
                  <img
                    [src]="imagePreview"
                    alt="Existing Image"
                    class="preview-image"
                  />
                </div>
              </div>

              <div *ngIf="existingImage" class="image-preview">
                <div class="circle-image">
                  <img
                    [src]="existingImage"
                    alt="Existing Image"
                    class="preview-image"
                  />
                </div>
              </div>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzXs]="24"
                  nzErrorTip="Required!"
                >
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Marke wählen"
                    formControlName="brand"
                  >
                    <nz-option
                      *ngFor="let brand of listOfBrands"
                      nzLabel="{{ brand }}"
                      nzValue="{{ brand }}"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzXs]="24"
                  nzErrorTip="Required!"
                >
                  <input nz-input placeholder="Name" formControlName="name" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzErrorTip="Required!">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Typ wählen"
                    formControlName="type"
                  >
                    <nz-option
                      *ngFor="let type of listOfType"
                      nzLabel="{{ type }}"
                      nzValue="{{ type }}"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzErrorTip="Required!">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Getriebe wählen"
                    formControlName="transmission"
                  >
                    <nz-option
                      *ngFor="let transmission of listOfTransmission"
                      nzLabel="{{ transmission }}"
                      nzValue="{{ transmission }}"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzErrorTip="Required!">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="Farbe wählen"
                    formControlName="color"
                  >
                    <nz-option
                      *ngFor="let color of listOfColor"
                      nzLabel="{{ color }}"
                      nzValue="{{ color }}"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzXs]="24"
                  nzErrorTip="Required!"
                >
                  <nz-year-picker
                    nzPlaceHolder="Model Jahr"
                    formControlName="year"
                  ></nz-year-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzXs]="24"
                  nzErrorTip="Required!"
                >
                  <input nz-input placeholder="Preis" formControlName="price" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzXs]="24"
                  nzErrorTip="Required!"
                >
                  <textarea
                    rows="1"
                    nz-input
                    placeholder="Beschreibung"
                    formControlName="description"
                  ></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Auto Ändern
          </button>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
